@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/typography' as *;

.static-image {
    max-width: 100%;       
    height: auto;         
    display: block;     
    margin: 0 auto;
  }