$mobile-width: 320px;
$primary-purple: #373373ff;
$primary-black: #323232;
$primary-white: #ffffff;
$secondary-green: #37a864ff;
$secondary-yellow: #f8aa17ff;
$secondary-red: #f1454fff;
$secondary-purple: #9b44adff;
$secondary-blue: #2681dbff;
