@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.site-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include font-mobile-body;

  &__user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0 1rem;
    background-color: #f3f3f9;
  }

  &__user-avtar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__user-details {
    flex: 2;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  &__username {
    margin: 0;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 23px;
    left: 114px;
    right: 194px;
    height: 20px;
  }

  &__btn {
    @include button;
    text-align: center;
    border: none;
    background-color: $primary-purple;
    padding: 0 1rem;
  }

  &__visited {
    padding-bottom: 1rem;
  }

  &__users {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}

.seprator {
  height: 1px;
  background-color: $primary-black;
  border: none;
  margin: 0;
}
